.Homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.Banner {
	width: 60%;
}

.Banner .name {
	display: flex;
}

.Banner .name h1 {
	font-size: 4.4rem;
	font-weight: bolder;
	color: whitesmoke;
	margin-top: 7rem;
	margin-bottom: 0;
	z-index: 1;
}

.Banner .name p {
	font-size: 6.5rem;
	font-family: "VT323";
	font-weight: bold;
	font-style: italic;
	color: grey;
	margin-bottom: 0;
	margin-left: 2rem;
}

.Banner .abstract {
	margin-left: 5rem;
	margin-right: 5rem;
	max-width: 70rem;
}

.Banner .abstract p {
	color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 1.9rem;
	opacity: 0.9;
}

.socials {
	margin-top: 3rem;
	margin-left: 10rem;
}

.socials img:hover {
	padding-bottom: 1.2rem;
	border-bottom: 2px dashed whitesmoke;
	transition: ease-in-out 0.1s;
}


.socials a {
    margin-right: 2rem;
}

.carousel-container {
	position: relative;
	overflow: hidden;
}

.carousel-image {
    margin-left: 5rem;
    margin-right: 5rem;
	width: 10rem;
	height: 10rem;
    border-radius: 25%;
}

.carousel-button {
	position: absolute;
	font-size: 25px;
	cursor: pointer;
	background: none;
	border: 1px solid white;
	border-radius: 50%;
	color: white;
}
.prev {
    top: 5rem;
	left: 0px;
}

.next {
    top: 5rem;
	right: 0px;
}

/* Example media query for tablet-sized screens */
@media (max-width: 768px) {
	.Homepage {
		flex-direction: column; /* Stack elements vertically */
	}

	.Banner {
		width: 100%; /* Full width for smaller screens */
	}

	.socials {
		margin-left: 2rem; /* Remove left margin for socials on smaller screens */
	}

	.carousel-container {
		margin-top: 3rem; /* Add margin to separate carousel from banner on smaller screens */
	}
}
