@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono:ital,wght@0,400;1,700&display=swap');

.pname-container {
  display: block;
  text-align: center;
}
.name-container {
  display: inline-block;
  margin-top: 18rem;
}

.name-container h1{
  font-weight: bolder;
  font-size: 5.6rem;
  font-family: 'Space Grotesk', sans-serif;
  font-family: 'Space Mono', monospace;
  font-style: italic;
  opacity: 90%;
  width: 100%;
  color: rgb(255, 255, 255);
}

#gitLogo {
  background-color: white;
  background-image: url(./images/githubLogo.png);
  filter: grayscale(100%);
}

.animation, .animation_layer {
	height: 103%;
}

.animation {
  display: block;
	position: relative;
	z-index: 1;
}

.animation_layer {
	background-position: top center;
	background-size: auto 103%;
	width: 100%;
}

.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(./images/background.png);
  filter: hue-rotate(150deg);
}

#mountain {
  background-image: url(./images/mountains.png);
  filter: hue-rotate(190deg);
}

#jungle1 {
  background-image: url(./images/jungle1.png);
  filter: grayscale(100%);
  filter: hue-rotate(240deg);
}

#jungle2 {
  background-image: url(./images/jungle2.png);
  filter: grayscale(100%);
  filter: hue-rotate(250deg);
}

#jungle3 {
  background-image: url(./images/jungle3.png);
  filter: grayscale(100%);
  filter: hue-rotate(800deg);
}

#jungle4 {
  background-image: url(./images/jungle4.png);
  filter: grayscale(100%);
  filter: hue-rotate(820deg);
}

#jungle5 {
  background-image: url(./images/jungle5.png);
  filter: grayscale(100%);
  filter: hue-rotate(820deg);
}

#manonmountain {
  background-image: url(./images/man_on_mountain.png);
  filter: grayscale(100%);
  filter: hue-rotate(830deg);
}

.page1-container {
  height: 100%;
  background-color: rgb(3, 12, 0);
}

.page2-container {
  height: 100%;
  background-color: rgb(3, 11, 0);
  border: 1px solid rgb(3,12,0);
}

.page3-container {
  height: 100%;
  background-color: rgb(3, 11, 0);
  border: 1px solid rgb(3,12,0);
}

.Experience {
  font-family: 'Space Grotesk', sans-serif;
  font-family: 'Space Mono', monospace;
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.card-row {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around; /* Adjust to space evenly or use 'space-between' */
}
